/* body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right top,
    #f2e3ec,
    #ece0eb,
    #e5ddea,
    #dedbe8,
    #d7d8e5,
    #d3d9e7,
    #cfdbe9,
    #cbdcea,
    #c9e2ef,
    #c8e9f2,
    #c8eff3,
    #caf5f2
  );
} */
